= simple_form_for @event do |f|
  = f.input :title, error: t(:title_necessary)
  = f.input :description
  = f.input :location
  = f.input :organizer_telegram
  = f.input :organizer_email
  = f.input :start_time
  = f.input :end_time
  = f.button :submit
  = link_to t(:cancel), events_path, {:class=>"btn btn-default"}
