.container
  %h1= @event.title
  %h4= @event.location
  #desc= @event.description
  %br
  %blockquote= "#{t(:email)} #{@event.organizer_email}"
  %blockquote= "#{t(:telegram)} #{@event.organizer_telegram}"
  %div
    %samp= @event.start_time.strftime("%d/%m/%Y - %H:%M")
  %div
    %samp= @event.end_time.strftime("%d/%m/%Y - %H:%M")

  %br
  = link_to t(:back), events_path, {:class=>"btn btn-light"}